
@{
    ViewData["Title"] = "Gerador de Nomes";
}

<h1>Gerador de Nomes</h1>

<br />

<h4>O gerador de Pessoa ajuda desenvolvedores a testar as aplicações em desenvolvimento</h4>

<br />

<form asp-controller="Pessoa" asp-action="gerar_nome" method="post">
    <input type="submit" value="Gerar Pessoa" class="btn btn-primary" />
</form>
<br />

<div class="form-group">
    <div">
        <b style="font-size:25px" >@ViewBag.PessoaNome</b>
        <b style="font-size:25px">@ViewBag.PessoaSobrenome</b>

</div>

<br />
<br />
<br />



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

